<div class="container card-container">
    {{#if post.isDev}}
    <a href="/postform" id="new-post-button">NEW POST</a>
    {{#each projects as |project|}}
    <a class="card" target="_blank">
        <div class="title"  id={{project.id}}>
            <p id="title-text">{{project.title}}</p>

        </div>
                <p class="content-text" id="desc-text">{{project.description}}</p>
            {{!-- <div class="tech-container">
                {{#each tags as |tag|}}
                <img src={{tag.tech_icon}} id="tech-icon">
                {{/each}}
            </div> --}}
                {{!-- <p id="username-text">{{post.user.username}}</p> --}}
                <p class="content-text" id="rate-text">${{project.budget}}</p>
    </a>
    {{/each}}

    {{else}}
<a href="/postform" id="new-post-button">NEW PROJECT</a>
    {{#each posts as |post|}}
    <a class="card" target="_blank" href={{post.profile}}>
        <div class="title"  id={{post.id}}>
            <p id="title-text">{{post.name}}</p>
            <p id="job-text">{{post.job}}</p>

        </div>
                <p class="content-text" id="desc-text">{{post.description}}</p>
            <div class="tech-container">
                {{#each tags as |tag|}}
                <img src={{tag.tech_icon}} id="tech-icon">
                {{/each}}
            </div>
                <p id="username-text">{{post.user.username}}</p>
                <p class="content-text" id="rate-text">${{post.price}}</p>
    </a>
    {{/each}}
    {{/if}}
</div>
