<div class="container card-container">
<a href="/projectform" id="new-post-button">NEW PROJECT</a>
    {{#each projects as |project|}}
    <a class="card" target="_blank">
        <div class="title"  id={{project.id}}>
            <p id="title-text">Project {{project.id}}</p>
        </div>
                <p class="content-text" >{{project.title}}</p>
                <p class="content-text" id="deadline-text">{{project.deadline}}</p>
                <p class="content-text" id="desc-text">{{project.projectdescription}}</p>
                <p class="content-text" id="rate-text">${{project.budget}}</p>
    </a>
    {{/each}}
</div>